
body {
	line-height:24px;
	margin: 0;
}

h3 {
	margin: 0;
	display: inline;
}

h1 {
	margin: 0;
}

.header {
	text-align: left;
	font-family:'Fixed-Fluid';
	background-color:#EAEAEA;
	padding: 10px;
	margin: 0;
	width: auto;
	height: 100px;
}

.LeftColumn {
	float: left;
	max-width: 200px;
	width:auto;
	background-color: #C8FC98;
}

.ContentColumn {
	font-family: 'Fluid'
}

.footer {
	text-align:center;
	background-color: black;
	clear: both;
}

a {
	color: bisque;
}